/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form,
.get-quiz {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

label {
  margin: 10px 0 5px;
}

input,
textarea,
button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #21a1f1;
}

ul {
  list-style-type: none;
  padding: 0;
}
