/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form,
.get-quiz {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

label {
  margin: 10px 0 5px;
}

input,
textarea,
button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #21a1f1;
}

ul {
  list-style-type: none;
  padding: 0;
}

.center-div {
  /* position: absolute; */
  top: 40%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.glass-effect {
background: rgba(0, 0, 0, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.8px);
-webkit-backdrop-filter: blur(13.8px);
border: 1px solid rgba(0, 0, 0, 0.3);
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  background-image: linear-gradient(#050505 1px, transparent 1px),
    linear-gradient(to right, #0d0d0e 1px, #f0f0f0 1px);
  background-size: 30px 30px;
}